* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

/* For Edge and IE */
body {
  -ms-overflow-style: none;
}
